@model BankManagementSystemVersionFinal1.Models.Loan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterstRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterstRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoanStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoanStatus)
        </dd>
    </dl>
</div>
